[Unit]
Description=Voice Assistant
After=network.target sound.target

[Service]
Type=simple
User=mendel
WorkingDirectory=/home/mendel/Sistema-carro-voz
Environment="PATH=/home/mendel/Sistema-carro-voz/venv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
ExecStart=/home/mendel/Sistema-carro-voz/venv/bin/python /home/mendel/Sistema-carro-voz/voice_assistant.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target